.email-wrapper {
	border: 1px solid black;

	&__header {
		background-color: #3e3e3e;
		color: white;
		padding-inline: 1rem;
	}
}

.email-preview {
	font-size: 1.25rem;
	padding-block: 1rem;

	&__missing {
		color: rgb(249, 64, 64);
		font-style: italic;
		text-transform: uppercase;
	}
}
